* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'Raleway', sans-serif;;
	font-size: 20px;
	line-height: 1.52;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
	text-align: center;
	transform: scale(.8, .8);
}

aside {
	float: left;
	width: 100%;
	padding-bottom: 1rem;
}

article {
	font-size: .9rem;
	float: left;
	width: 100%;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: justify;
}

figure {
	margin: .4rem;
	text-align: center;
}

figcaption {
	text-align: left;
}

footer {
	font-size: .8rem;
	position: relative;
	padding: 1rem;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: #4078c0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:before {
  font-size: 1.2rem;
  color: gray;
  display: inline-block;
  width: 1.2rem;
  margin-right: .5rem;
  text-align: center;
}

a[href^="mailto:"]:before {
  content: "\2709";
}

a[href^="https:"]:before {
  content: "\1F517";
  font-size: .8rem;
}

p {
	margin: 0;
}

p:not(.first) {
	padding-top: 1rem;
}

@media screen and (min-width: 521px) {
	aside {
		width: 40%;
		font-size: .9rem;
	}

	article {
		padding-top: 6rem;
		width: 60%;
	}
	
	footer {
		position: absolute;
		height: 1rem;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
}

@media screen and (min-width: 730px) {
	aside {
		width: 30%
	}	

	article {
		width: 70%;
	}
}